$content-bg-col: #f8f8fb;
$content-bg-col-dark: #1d131e;

$nav-sep-height: 1rem;
$content-shadow-col: rgba(200, 200, 200, 0.4);
$regular-font: "Source Sans Pro", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

html {
  font-size: 1.1em;
  font-weight: 300;
}

html, body, #content {
/*
  margin-bottom: 0px;
  padding-bottom: 0px;
  min-height: 100%;
  height: 100%;
*/
  color: #211a1d;
  background-color: $content-bg-col;
}

body {
  font-family: $regular-font;
  margin: 0px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* separator under navbar */
nav::after {
  content: " ~ ";
  display: inline-block;
  margin: 0px 5%;
  margin-top: $nav-sep-height;
  height: 0.1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: $mono-font;
  color: #ccc;
  line-height: 0.2rem;

  background-image: linear-gradient(to right, $content-bg-col, #ddd 15% 45%, $content-bg-col 45% 55%, #ddd 55% 85%, $content-bg-col);
}

a {
  font-weight: bold;
  color: #1985a1;
}

nav > a {
  flex: initial;
  text-align: center;
  text-decoration: none;
}

nav, p {
  a:hover {
    text-decoration: none;
    background-color: #1985a1;
    color: $content-bg-col;
  }
}

nav > a.current:hover {
  background-color: #c4d7f2;
}

nav > a:visited {
}

.current {
  color: #c4d7f2;
}

#content {
  margin-left: 23%;
  margin-right: 23%;
  margin-bottom: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: $nav-sep-height;
  font-size: 1.1rem;
  color: #211a1d;
  
  p, li {
    line-height: 1.3rem;
  }

  code, td pre {
    overflow: hidden;
    margin: 0px;
  }
}

h1 {
  font-weight: normal;
  font-size: 3rem;
  width: 100%;
  display: inline-block;
  margin-top: 0.7em;
  margin-bottom: 0px;
  color: #4c5c68;
}

h1::before {
  content: "/* ";
  color: #09bc8a;
  font-family: $mono-font;
}

h1::after {
  content: " */";
  float: right;
  right: 0px;
  top: 0px;
  color: #09bc8a;
  text-align: right;
  margin-right: 0px;
  font-family: $mono-font;
}

#content img {
  width: 100%;
  height: auto;
  display: block;
}

.highlight {
  padding: 0px;
  margin: 0px;

  table {
    -webkit-border-vertical-spacing: 0px;
  }

  pre {
    overflow: scroll;
  }
}

.rouge-table {
  background-color: #373438;
}

.lineno {
  border-right: 1px solid white;
  padding-right: 0.3rem;
}

.code {
  padding-left: 0.3rem;

  pre {
  }
}

@media screen and (max-width: 1600px) {
  #content {
    margin: 0px 20%;
  }
}

@media screen and (max-width: 1200px) {
  #content {
    margin: 0px 17%;
  }
}

@media screen and (max-width: 800px) {
  #content {
    margin: 0px;
  }
}

@media screen and (max-width: 350px) {
  h1::before {
    content: "// ";
  }

  h1::after {
    content: "";
  }
}

/* see https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */  
@media (prefers-color-scheme: dark) {
  html, body, #content {
    color: #f1f0ea;
    background-color: $content-bg-col-dark;
  }

  nav::after {
    color: #534b52;
    background-image: linear-gradient(to right, $content-bg-col-dark, #534b52 15% 45%, $content-bg-col-dark 45% 55%, #534b52 55% 85%, $content-bg-col-dark);
  }

  h1 {
    color: #1985a1;
  }

  a {
    color: #4c5c68;
  }
}

